body {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative
}

body, a, p, span, li,
h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
}

a {
	color: #fff !important;
}

.mt-10 {
	margin-top: 10px
}

.mt-20 {
	margin-top: 20px
}

.mt-30 {
	margin-top: 30px
}

.mt-40 {
	margin-top: 40px
}

.mt-50 {
	margin-top: 50px
}

.mt-60 {
	margin-top: 60px
}

.mt-70 {
	margin-top: 70px
}

.mt-80 {
	margin-top: 80px
}

.mt-90 {
	margin-top: 90px
}

.mt-100 {
	margin-top: 100px
}

.mb-10 {
	margin-bottom: 10px
}

.mb-20 {
	margin-bottom: 20px
}

.mb-30 {
	margin-bottom: 30px
}

.mb-40 {
	margin-bottom: 40px
}

.mb-50 {
	margin-bottom: 50px
}

.mb-60 {
	margin-bottom: 60px
}

.mb-70 {
	margin-bottom: 70px
}

.mb-80 {
	margin-bottom: 80px
}

.ml-5 {
	margin-left: 5px !important
}

.ml-10 {
	margin-left: 10px
}

.ml-15 {
	margin-left: 15px
}

.mr-15 {
	margin-right: 15px
}

/* Classes */
.navbar-nav {
	margin-right: 100px;
}
.nav-link {
	color: #fff;
}
.nav-link:hover {
	background: none;
	border: none;
	border-bottom: 1px solid transparent;
	border-color: #fff;
	color: #fff !important;
	border-radius: 0px;
	cursor: pointer;
}

.container-fluid {
	background-size: cover;
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	overflow: hidden;
}
.bg-navbar {
	background-color: #000;
	transition: top 0s !important;
	opacity: 0.9 !important;
	padding: 15px 0px;
}
.sticky-top {
	background-color: #000;
	opacity: 0.9 !important;
}

/* 3D Landing Page */
#slideshow-1 {
	margin: 0 auto;
	padding-top: 0px;
	height: 600px;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
#slideshow-2 {
	margin: 0 auto;
	padding: 30px 15px;
	width: 100%;
	box-sizing: border-box;
}
#slideshow-2 img {
	height: 100%;
	width: 100%;
}

.slideshow-title {
	font-family: 'Roboto';
	font-size: 30px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	margin-top: 25%;
	letter-spacing: 3px;
}

.entire-content {
	margin: auto;
	width: 300px;
	perspective: 600px;
	position: relative;
	padding-top: 80px;
}

.content-carrousel {
	width: 100%;
	position: absolute;
	float: right;
	animation: rotar 30s infinite linear;
	transform-style: preserve-3d;
}

.content-carrousel:hover {
	animation-play-state: paused;
	cursor: pointer;
}

.content-carrousel figure {
	width: 100%;
	height: 250px;
	border: 1px solid #3b444b;
	overflow: hidden;
	position: absolute;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(90deg) translateZ(200px); 
} 
.content-carrousel figure:nth-child(2) {
	transform: rotateY(180deg) translateZ(200px); 
} 
.content-carrousel figure:nth-child(3) {
	transform: rotateY(270deg) translateZ(200px); 
} 
.content-carrousel figure:nth-child(4) {
	transform: rotateY(360deg) translateZ(200px); 
} 

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
	background-color: #000000b5;
}

.content-carrousel img {
	image-rendering: auto;
	transition: all 300ms;
	width: 100%;
	height: 100%;
}

.content-carrousel img:hover {
	transform: scale(1.2);
	transition: all 300ms;
}

@keyframes rotar {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
	}
}


/* Markoz Mega Menu */
.markoz-portfolio, 
.markoz-services,
.markoz-contact,
.markoz-about,
.markoz-blog,
.markoz-social-media {
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	width: 100%;
	text-align: center;
	padding: 25%;
	filter: grayscale(100%);
	z-index: 2;
}

.markoz-portfolio:hover, 
.markoz-services:hover,
.markoz-contact:hover,
.markoz-about:hover,
.markoz-blog:hover,
.markoz-blog:hover,
.markoz-social-media:hover {
	filter: opacity(.9);
}

.markoz-portfolio, 
.markoz-services {
	margin-left: 30px;
}

.markoz-about,
.markoz-blog {
	margin-left: -30px;
}

.markoz-portfolio {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/markoz-portfolio.jpg) center;
}
.markoz-services {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/markoz-services.jpg) center;
}
.markoz-contact {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/markoz-contact.jpg);
}
.markoz-social-media {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/markoz-social-media.png) center;
	padding: 45% 0 !important;
	background-repeat: no-repeat;
	background-size: cover;
}
.markoz-about {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/markoz-about.jpg) center;
}
.markoz-blog {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/markoz-blog.jpg) center;
}

/* Button Menu Effect */
.markoz-portfolio h2,
.markoz-services h2,
.markoz-contact h2,
.markoz-about h2,
.markoz-blog h2 {
	position:relative;
	display:block;
	z-index:-10;
	margin:0 auto;
	padding:0;
	width:100%;
	color:#fff;
	background: transparent;
	overflow:hidden;
	border-left:none;
	border-right:none;
	border-top:none;
	cursor: pointer;
}

.markoz-portfolio h2,
.markoz-services h2,
.markoz-contact h2,
.markoz-about h2,
.markoz-blog h2 {
	z-index:2;
	color:#fff;
	font-size:26px;
	line-height:100px;
	padding:0 !important;
	margin:0 !important;
	transition:.3s ease color;
}

.markoz-portfolio h2::before,
.markoz-services h2::before,
.markoz-contact h2::before,
.markoz-about h2::before,
.markoz-blog h2::before{
	content:"";
	z-index:-1;
	position:absolute;
	display:block;
	height:2px;
	padding:0;
	width:150px;
	margin-left:-150px;
	background: #fff;
	transition:.3s ease margin .3s,.3s ease height;
}

.markoz-portfolio h2:hover,
.markoz-services h2:hover,
.markoz-contact h2:hover,
.markoz-about h2:hover,
.markoz-blog h2:hover{
	color:#000 !important;
	transition:.2s ease color .3s;
	border-left:10px solid #dcdcdc;
}

.markoz-portfolio h2:hover::before,
.markoz-services h2:hover::before,
.markoz-contact h2:hover::before,
.markoz-about h2:hover::before,
.markoz-blog h2:hover::before{
	height:100px;
	width:100%;
	margin-left:0px;
	transition:.3s ease margin, .2s ease height .3s;
}



.a-link {
    color: #fff;
    background-color: transparent;
}
.card {
	margin: 15px 0;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
	color: #fff;
	background-color: #000000b0;
}
.card-img-top {
	height: 15rem;
}
.card-body {
	border-top: 1px solid #dee2e6 !important;
}
.border-general {
	border: 1px solid #dee2e6 !important;
}
.border-general-info {
	border: 2px solid #fff !important;
}
.btn-success {
	background-color: #000080 !important;
	border-color: #22a7f0 !important;
}
.divider {
	background-color: #fff;
	height: 130px;
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
	background-repeat: no-repeat;
	border: none;          
	background-size: cover;
	padding-right: 0px;
    padding-left: 0px;
	
}
.fa-chevron-up{
	position: fixed;
	bottom: 5px;
    right: 5px; 
	cursor: pointer; 
	border-radius: 10%;
	background-color: #fff;
	color: #000;
	padding: 10px;
}
button:hover, .fa:hover {
	opacity: 0.8
}

.gradient-buttons .btn {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.15) 51%, rgba(0,0,0,0.05));
    background-repeat: repeat-x;
}

.fieldset-quote{
    border: 1px groove #808080 !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
	box-shadow:  0px 0px 0px 0px #000;
	background-color: #fff;
	color: #000;
}
.fieldset-legend {
	font-size: 1em !important;
	font-weight: bold !important;
	text-align: left !important;
	width:auto;
	padding:0 15px;
	color: #fff;
	border: 1px solid #808080;
	background-color: #000;
}

.social-media {
	background: #ffffff;
	color: #000 !important;
	padding: 15px;
	border-radius: 5px !important;
	margin-left: 5px;
	border: 1px solid #000;
}
.social-media:hover {
	background: #000;
	color: #fff !important;
	padding: 15px;
	text-decoration: none;
	border: 1px solid #fff;
}
.page-footer {
	background-color: #000;
	color: #ffffff;
	padding-top: 15px;
}

.rounded {
    border-radius: 6.25rem !important;
}

.section-gap {
	padding: 60px 20px
}

.section-bg-black {
	background-color: #000;
	transition: top 0s !important;
	opacity: 0.9 !important;
	position: relative;
}

.section-bg-1 {
	background-color: #fff
}

.section-bg-2 {  
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/travel-bg.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-bg-3 {
	background-color: #bdc3c7
}

.section-bg-4 {
	background-color: #000
}

.section-bg-5 {
	background-image: url(../img/wall-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.section-title {
	font-family: Papyrus, fantasy;
}

.zoom {
	transition: transform .90s;
}

.zoom:hover {
	-ms-transform: scale(1.05); /* IE 9 */
	-webkit-transform: scale(1.05); /* Safari 3-8 */
	transform: scale(1.05); 
}

.modal-content {
	background-color: #000 !important;
}

.close {
	color: #fff !important;
}

.ig-pic {
	margin: 15px 0;
}


/* IDs */
#myServices {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/services-bg.jpg) center;
	background-size: auto;
	background-size: cover;
	color: #ffffff;
}

#myServices h1, #myServices h3 {
	font-weight: bold;
}

#myServices .table th {
	border-top: none;
	text-align: left;
	padding-left: 185px;
}

#imgMobileResponsive {
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4), 0 6px 20px 0 rgba(255, 253, 253, 0.4)
}

#img-author {
	height: 200px;
	width: 200px;	
	float: right;
}
div #img-bird{
  position: relative;
  -webkit-animation: mymove 10s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 20s infinite;
}
#img-bird {
	height: 30px;
	width: 35px;
}
#div-bird {
	animation-timing-function: ease;
}
/* Bird Length to fly */
@keyframes mymove {
  from {left: 0px;}
  to {left: 1300px;}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {left: 0px;}
  to {left: 1300px;}
}

#readMorePlus, 
#readMoreMinus {
	cursor: pointer
}

#modalEmoji p {
	font-size:50px;
}

#contactOption {
	background-color: #80797982;
	border-top: 1px solid #000;
	float: left !important;
	padding: 30px 15px;
}

/* PANEL */
.panel, .with-nav-tabs, .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel, .with-nav-tabs, .nav-tabs{
	/* border-bottom: none; */
}

.panel, .with-nav-tabs, .nav-justified{
	margin-bottom: -1px;
}
.panel-primary .panel-heading {
    color: #000;

}
.panel-heading {
    padding: 0px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	background-image: linear-gradient(to bottom right, #fff, #000);
}
.panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}


/*** PANEL PRIMARY ***/
#panelBody {
	border: 1px solid transparent;
	border-color: #dcdcdc;
}

.tab-content {
	padding: 30px 30px;
}

.nav li a {
    position: relative;
    display: block;
    /* padding: 10px 15px; */
}
.nav-tabs li a {
    margin-right: 2px;
    line-height: 1.42857143;
	padding: 20px 15px;
}
ul.nav.nav-tabs:before {
	display: table;
    content: " ";
}

.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #000;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #000;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #fff;
	background-color: #000;
	border-color: #428bca;
	border-bottom-color: transparent;
	border-left: 5px solid #fff;
	border-right: 5px solid #fff;
	box-shadow: 0px -5px 18px #888888;
} 
 
 
/* *********************************************************** */

.ribbon-card {
  background: #808080;
  width: 300px;
  height: 250px;
  position: relative;
  margin: 15px 30px;
  font-size: 0;
  border-radius: 8px;
  padding-top: 100px;
  border: 1px solid #b0aaaa;
  box-shadow: 0 0 10px 3px rgb(140, 146, 153);
}

.ribbon-card .copy {
  padding: 16px;
  font-size: 16px;
  color: #fff;
}

.ribbon-card .ribbon {
  position: absolute;
  left: -20px;
  top: 30px;
  width: 340px;
  height: 48px;
  background: #000;
  color: #fff;
  line-height: 48px;
  font-family: 'Neuton', serif;
  font-size: 24px;
  text-align: center;
  letter-spacing: 3px;
}

.ribbon-card .ribbon:before,
.ribbon-card .ribbon:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 10px solid #fff;
}

.ribbon-card .ribbon:before {
  top: -20px;
  left: 0;
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-card .ribbon:after {
  top: 48px;
  left: 319px;
  border-right-color: transparent;
  border-bottom-color: transparent;
}


/* Media Queries */

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
	.navbar-nav {
		margin-bottom: 150px;
	}
	.nav-link:hover {
		background: none;
		border: none;
		border-bottom: 1px solid transparent;
		border-color: #00008B;
		color: #00008B !important;
		border-radius: 0px;
		
	}
	.card {
		margin: 15px 35px !important;
	}
	
	.ribbon-card {
		width: 210px;
		margin: 15px 0px;
	}
	
	.ribbon-card .ribbon {
		width: 250px;
	}
	
	.ribbon-card .ribbon::after {
		left: 229px;
	}
	
	#logo {
		display: none !important;
	}
	#logoMobileMode {
		display: block !important;
		padding: 15px !important;
	}
	
	#homeIntro, #homeDesc {
		font-size: 20px;
	}
	
	#div-bird {
		visibility: hidden;
		overflow: hidden;
	}
	/* Bird Length to fly */
	@keyframes mymove {
	  from {left: 0px;}
	  to {left: 0px;}
	}
	/* Safari 4.0 - 8.0 */
	@-webkit-keyframes mymove {
	  from {left: 0px;}
	  to {left: 0px;}
	}
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
	.h1, h1 {
		font-size: 1.6rem !important;
	}
	.h2, h2 {
		font-size: 1.4rem !important;
	}
	.h3, h3 {
		font-size: 1.2rem !important;
	}
	
	.navbar-nav {
		margin-bottom: 150px;
	}
	.nav-link:hover {
		background: none;
		border: none;
		border-bottom: 1px solid transparent;
		border-color: #00008B;
		color: #00008B !important;
		border-radius: 0px;
	}
	.card {
		width: 17rem;
		margin: 15px 25px !important;
	}	
	
	.section-title {
		font-size: 1.5rem !important;
	}
	
	#logo {
		display: none !important;
	}
	#logoMobileMode {
		display: block !important;
		padding: 0 !important;
	}
	
	#myHome .table th {
		padding-left: 0px;
	}
	
	#homeIntro, #homeDesc {
		font-size: 20px;
	}
	
	#img-author {
		float: none !important;
	}
	
	.author-info {
		text-align: center-left !important;
		margin-top: 20px;
	}
	
	.flipster__container {
		height: 354px !important;
	}
	
	.portfolio-btn {
		margin-right: 60px !important;
	}
	
	#myServices .table th {
		padding-left: 0px !important;
	}
	
	#imgMobileResponsive {
		margin-top: 30px;
	}
	
	.ribbon-card {
		width: 300px;
		margin: 15px 10px;
	}
	
	.ribbon-card .ribbon {
		width: 339px;
	}
	
	.ribbon-card .ribbon::after {
		left: 319px;
	}
	
	#div-bird {
		visibility: hidden;
		overflow: hidden;
	}
	/* Bird Length to fly */
	@keyframes mymove {
	  from {left: 0px;}
	  to {left: 0px;}
	}
	/* Safari 4.0 - 8.0 */
	@-webkit-keyframes mymove {
	  from {left: 0px;}
	  to {left: 0px;}
	}
	
}







